Test-Command: cd debian/tests && rspec spec/puppet/*_spec.rb
Depends: puppet4,ruby-serverspec
Restrictions: needs-root,isolation-container

Test-Command: cd debian/tests && ./service-setup systemd && rspec spec/service-systemd/*_spec.rb
Depends: puppet4, systemd-sysv, ruby-serverspec
Restrictions: needs-root, isolation-container

Test-Command: cd debian/tests && ./service-setup sysvinit && rspec spec/service-sysvinit/*_spec.rb
Depends: puppet4, sysvinit-core, ruby-serverspec
Restrictions: needs-root, isolation-container, needs-reboot
